{{ 'pagination.css' | asset_url | stylesheet_tag }}

{%- if paginate.parts.size > 0 -%}
  <hr>
  <div class="pagination-wrapper">
    <span>{{ paginate_info }}</span>
    <nav class="pagination" role="navigation">
      <ul class="pagination__list list-unstyled" role="list">
        {%- if paginate.previous -%}
          <li>
            <a href="{{ paginate.previous.url }}" class="pagination__item pagination__item--prev pagination__item-arrow">
              {% render 'icon-caret' %}
            </a>
          </li>
        {%- endif -%}
        {%- for part in paginate.parts -%}
          <li>
            {%- if part.is_link -%}
              <a href="{{ part.url }}" class="pagination__item">
                {{- part.title -}}
              </a>
            {%- else -%}
              {%- if part.title == paginate.current_page -%}
                <a
                  role="link"
                  aria-disabled="true"
                  class="pagination__item pagination__item--current light">
                  {{- part.title -}}
                </a>
              {%- else -%}
                <span class="pagination__item">{{ part.title }}</span>
              {%- endif -%}
            {%- endif -%}
          </li>
        {%- endfor -%}

        {%- if paginate.next -%}
          <li>
            <a href="{{ paginate.next.url }}" class="pagination__item pagination__item--next pagination__item-arrow">
              {% render 'icon-caret' %}
            </a>
          </li>
        {%- endif -%}
      </ul>
    </nav>
  </div>
  <hr>
{%- endif -%}