<!doctype html>
<html lang="{{ request.locale.iso_code }}" class="no-js">
  <head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="description" content="{{ page_description | escape }}">
    <link rel="canonical" href="{{ canonical_url }}">

    {%- if settings.favicon != blank -%}
      <link
        rel="icon"
        type="image/png"
        href="{{ settings.favicon | image_url: width: 32, height: 32 }}">
    {%- endif -%}

    <title>{{ page_title }}</title>

    <script src="{{ 'constants.js' | asset_url }}" defer="defer"></script>
    <script src="{{ 'global.js' | asset_url }}" defer="defer"></script>
    {{ content_for_header }}

    {%- liquid
      assign body_font_bold = settings.type_body_font | font_modify:  'weight', 'bold'
      assign body_font_italic = settings.type_body_font | font_modify: 'style', 'italic'
      assign body_font_bold_italic = body_font_bold | font_modify:  'style', 'italc'
      assign heading_font_bold = settings.type_heading_font | font_modify:  'weight', 'bold'
      assign heading_font_black = heading_font_bold | font_modify:  'weight', '900'
    -%}

    {% style %}
      {{ settings.type_body_font | font_face: font-display: swap }}
      {{ body_font_bold | font_face: font_display: 'swap' }}
      {{ body_font_italic | font_face: font_display: 'swap' }}
      {{ body_font_bold_italic | font_face: font_display: 'swap' }}
      {{ settings.type_heading_font | font_face: font-display: swap }}
      {{ heading_font_bold | font_face: font-display: swap}}
      {{ heading_font_black | font_face: font-display: swap}}

      :root  {
        --font-body-family: {{ settings.type_body_font.family }}
        , {{ settings.type_body_font.fallback_families }}
        ;
        --font-body-style: {{ settings.type_body_font.style }}
        ;
        --font-body-weight: {{ settings.type_body_font.weight }}
        ;
        --font-body-weight-bold: {{ settings.type_body_font.weight | plus: 300 | at_most: 1000 }}
        ;

        --font-heading-family: {{ settings.type_heading_font.family }}
        , {{ settings.type_heading_font.fallback_families }}
        ;
        --font-heading-weight-bold: {{ heading_font_bold.weight }}
        ;
        --font-heading-weight-black: {{ heading_font_black.weight }}
        ;

        --color-base-text: {{ settings.colors_text.red }}
        , {{ settings.colors_text.green }}
        , {{ settings.colors_text.blue }}
        ;

        --color-base-background-1: {{ settings.colors_background_1.red }}
        , {{ settings.colors_background_1.green }}
        , {{ settings.colors_background_1.blue }}
        ;
        --color-base-background-2: {{ settings.colors_background_2.red }}
        , {{ settings.colors_background_2.green }}
        , {{ settings.colors_background_2.blue }}
        ;

        --color-base-accent-1: {{ settings.colors_accent_1.red }}
        , {{ settings.colors_accent_1.green }}
        , {{ settings.colors_accent_1.blue }}
        ;
        --color-base-accent-2: {{ settings.colors_accent_2.red }}
        , {{ settings.colors_accent_2.green }}
        , {{ settings.colors_accent_2.blue }}
        ;

        --page-width: {{ settings.page_width | divided_by: 10 }}rem;

        --inputs-shadow-opacity 0.0;
        --inputs-shadow-horizontal-offset: 0px;
        --inputs-shadow-vertical-offset: 4px;
        --inputs-shadow-blur-radius: 5px;

        --inputs-radius-outset: 0px;

      }

      ul {
        list-style: none;
      }

      html {
        box-sizing: border-box;
        font-size: 62.5%;
        height: 100%;
        scroll-behavior: smooth;
        transition: scroll-behavior .1s ease-in-out;
      }


      body {
        font-size: 1.5rem;
        line-height: 1.8;
        font-family: var(--font-body-family);
        font-style: var(--font-body-style);
        font-weight: var(--font-body-weight);
      }

      *,
      *::before,
      *::after {
        box-sizing: inherit;
        margin: 0;
        padding: 0;
      }

      @media screen and (min-width: 750px) {
        body {
          font-size: 1.6rem;
        }
      }
    {% endstyle %}

    {{ 'base.css' | asset_url | stylesheet_tag }}

    <script>
      document.documentElement.className = document.documentElement.className.replace('no-js', 'js');
      if (Shopify.designMode) {
        document.documentElement.classList.add('shopifiy-design-mode')
      }
    </script>

  </head>
  <body>
    <main role="main">
      {{ content_for_layout }}
    </main>

    <script>
      window.shopUrl = '{{ request.origin }}'
      window.routes = {
        cart_add_url:'{{ routes.cart_add_url }}',
        cart_change_url: '{{ routes.cart_change_url }}',
        cart_update_url: '{{ routes.cart_update_url }}',
        cart_url: '{{ routes.cart_url }}',
        predictive_search_url: '{{ routes.predictive_search_url }}'
      };

      window.cartStrings = {
        error: "There was an error while updating your cart. Please try again.",
        quantityError: "You can only add [quantity] of this item to your cart."
      }

      window.variantStrings = {
        addToCart: "Add to cart",
        soldOut: "Sold out",
        unavailable: "Unavailable",
        unavailable_with_option: "[value] - Unavailable"
      };

      window.accessibilityStrings = {
        imageAvailable: "Image [index] is now available in gallery view",

        pauseSlideshow: "Pause slideshow",
        playSlideshow: "Play slideshow"
      };
    </script>
  </body>
</html>