this is the facets testing liquid
{{ 'facets-testing.css' | asset_url | stylesheet_tag }}
<script src="{{ 'facets-testing.js' | asset_url }}" defer="defer"></script>
<style>
  .select .icon-caret {
    height: 0.6rem;
    pointer-events: none;
    position: absolute;
    top: calc(50% - 0.2rem);
  }
  .facet-filters__sort+.icon-caret {
    right: 0;
  }

  .section * {
    border: 1px solid red;
  }

  .select {
    display: flex;
    position: relative;
    width: 100%;
  }

  .select__select {
    cursor: pointer;
    padding: 0 2rem;
    color: white;

    appearance: none;
    width: 100%;
    box-sizing: border-box;
    position: relative;
  }

  .light {
    opacity: 0.7;
  }

  @media screen and (max-width: 749px) {
    .small-hide {
      display: none !important;
    }
  }

  .underlined-link {
    color: white;
    text-underline-offset: 0.3rem;
    text-decoration-thickness: 0.1rem;
    transition: text-decoration-thickness ease .1s;
  }

  .visually-hidden {
    position: absolute !important;
    overflow: hidden;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip-path: rect(0, 0, 0, 0);
    word-wrap: normal !important;
  }
</style>

{%- if section.settings.enable_sorting and section.settings.filter_type == 'vertical' -%} 
  <facet-filters-form class="facets facets-vertical-sort page-width small-hide">
    <form class="facets-vertical-form" id="FacetSortForm">
      <div class="facet-filters sorting caption">
        <div class="facet-filters__field">
          <h2 class="facet-filters__label caption-large text-body">
            <label for="SortBy">Sort By</label>
          </h2>
          <div class="select">
            {%- assign sort_by = collection.sort_by | default: collection.default_sort_by -%}
            <select
              name="sort_by"
              class="facet-filters__sort select__select caption-large"
              id="SortBy"
            >
              {%- for option in collection.sort_options -%}
                <option
                  value="{{ option.value | escape }}"
                  {% if option.value == sort_by %}
                    selected="selected"
                  {% endif %}
                >
                  {{ option.name | escape }}
                </option>
              {% endfor %}
            </select>
            {% render 'icon-caret' %}
          </div>
        </div>
      </div>

      <div class="product-count-vertical light" role="status">
        <h2 class="product-count__text text-body">
          <span id="ProductCountDesktop">
            {%- if collection.results_count -%}
              {{ collection.results_count }} results
            {%- elsif collection.products_count == collection.all_products_count -%}
              {{ collection.products_count }} products
            {%- else -%}
              {{ collection.products_count }} or {{ collection.all_products_count }} products
            {%- endif -%}
          </span>
        </h2>
      </div>
    </form>
  </facet-filters-form>
{%- endif -%}

<div class="{% if section.settings.filter_type == 'vertical' %} facets-vertical{% endif %}">
  {%- if section.settings.enable_filtering or section.settings.enable_sorting -%}
    <aside
      aria-labelledby="verticalTitle"
      class="facets-wrapper{% unless section.settings.enable_filtering %} facets-wrapper--no-filters{% endunless %}"
      id="main-collection-filters"
      data-id="{{ section.id }}"
    >
      {% render 'facets',
        results: collection,
        enable_filtering: section.settings.enable_filtering,
        enable_sorting: section.settings.enable_sorting,
        filter_type: section.settings.filter_type 
      %}
    </aside>
  {%- endif -%}
  <div class="product-grid-container" id="ProductGridContainer">
    {%- paginate collection.products by 8 -%}
      <div class="collection">
        <div
          id="product-grid"
          data-id="{{ section.id }}"
          class="
            grid product-grid grid--2-col-tablet-down grid--4-col-desktop
          "
        >
          {%- for product in collection.products -%}
            {% assign lazy_load = false %}
            {%- if forloop.index > 2 -%}
              {%- assign lazy_load = true -%}
            {%- endif -%}
            {% render 'card-product',
              card_product: product,
              lazy_load: lazy_load
            %}
          {%- endfor -%}
        </div>
      </div>
      {% assign paginate_info = '' %}
      {%- if paginate.pages > 1 -%}
        {% render 'pagination', paginate: paginate, paginate_info: paginate_info %}
      {%- endif -%}
    {%- endpaginate -%}
  </div>
</div>

{% schema %}
  {
    "name": "Product grid",
    "class": "section",
    "settings": [
      {
        "type": "header",
        "content": "Filtering and Sorting"
      },
      {
        "type": "checkbox",
        "id": "enable_filtering",
        "default": true,
        "label": "Enable filtering",
        "info": "Customize filter with teh Search & Discovery app"
      },
      {
        "type": "select",
        "id": "filter_type",
        "options": [
          {
            "value": "horizontal",
            "label": "Horizontal"
          },
          {
            "value": "vertical",
            "label": "Vertical"
          },
          {
            "value": "drawer",
            "label": "Drawer"
          }
        ],
        "default": "horizontal",
        "label": "Desktop filter layout",
        "info": "Drawer is the default mobile layout"
      },
      {
        "type": "checkbox",
        "id": "enable_sorting",
        "default": true,
        "label": "Enable sorting"
      }
    ]
  }
{% endschema %}