{{ 'component-card.css' | asset_url | stylesheet_tag }}
{{ 'section-featured-collection.css' | asset_url | stylesheet_tag }}

{%- liquid
  assign products_to_display = section.settings.collection.all_products_count

  if section.settings.collection.all_products_count > section.settings.products_to_show
    assign products_to_display = section.settings.products_to_show
    assign more_in_collection = true
  endif
-%}

{% style %}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0}}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{% endstyle %}

<div class="section-{{ section.id }}-padding page-width {{ section.settings.text_color }} {% if section.settings.hide_mobile %}mobile-hidden{% endif %}">
  <div class="container">
    <h3>{{ section.settings.title }}</h3>
    <div class="row">
      {%- for product in section.settings.collection.products limit: section.settings.products_to_show -%}
        {% assign columns_desktop = section.settings.columns_desktop %}
        {% render 'card-product' 
         , card_product: product,
         lazy_load: lazy_load,
         columns_desktop: columns_desktop,
         show_details: false %}
      {%- endfor -%}
    </div>
    {%- if section.settings.show_view_all and more_in_collection -%}
      <div class="shop-all">
        <a href="{{ section.settings.collection.url }}">
          <button type="button" class="btn btn-secondary">
            Shop {{ section.settings.collection.title }}
          </button>
        </a>
      </div>
    {%- endif -%}
  </div>
  </div>

{% schema %}
  {
    "name": "Featured Products",
    "tag": "section",
    "class": "featured-product-section",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "default": "Featured collection",
        "label": "Title"
      },
      {
        "type": "collection",
        "id": "collection",
        "label": "Collection"
      },
      {
        "type": "range",
        "id": "products_to_show",
        "min": 2,
        "max": 20,
        "step": 1,
        "default": 4,
        "label": "The number of products to show"
      },
      {
        "type": "range",
        "id": "columns_desktop",
        "min": 2,
        "max": 6,
        "step": 1,
        "default": 4,
        "label": "Columns Desktop"
      }, {
        "type": "checkbox",
        "id": "show_view_all",
        "default": true,
        "label": "Show View All Button"
      }, {
        "type": "header",
        "content": "Padding"
      }, {
        "type": "range",
        "id": "padding_top",
        "min": 0,
        "max": 100,
        "step": 4,
        "unit": "px",
        "label": "Padding Top",
        "default": 36
      }, {
        "type": "range",
        "id": "padding_bottom",
        "min": 0,
        "max": 100,
        "step": 4,
        "unit": "px",
        "label": "Padding Bottom",
        "default": 36
      }, {
        "type": "select",
        "id": "text_color",
        "options": [
          {
            "value": "white",
            "label": "White"
          }, {
            "value": "black",
            "label": "Black"
          }
        ],
        "default": "black",
        "label": "Text Color"
      }, {
        "type": "checkbox",
        "id": "hide_mobile",
        "default": false,
        "label": "Hide on mobile devices"
      }
    ],
    "presets": [
      {
        "name": "Featured Collection"
      }
    ]
  }
{% endschema %}