<div class="page-width{% if cart == empty %} is-empty{% endif %}" id="main-cart-footer" data-id="{{ section.id }}">
  <div>
    <div class="cart__footer">
      <cart-note class="cart__note field">
        <label for="Cart-note">Order special instructions</label>
        <textarea
          class="text-area field__input"
          name="note"
          form="cart"
          id="Cart-note"
          placeholder="Order special instructions"
        >
          {{ cart.note }}
        </textarea>
      </cart-note>

      <div class="cart__blocks">
        {% for block in section.blocks %}
          {%- case block.type -%}
            {%- when '@app' -%}
              {% render block %}
            {%- when 'subtotal' -%}
              <div class="js-contents" {{ block.shopify_attributes }}>
                <div class="totals">
                  <h2 class="totals__subtotal">Subtotal</h2>
                  <p class="totals__subtotal-value">{{ cart.total_price | money_with_currency }}</p>
                </div>

                <div>
                  {%- if cart.cart_level_discount_applications.size > 0 -%}
                    <ul class="discounts list-unstyled" role="list" aria-label="Discount">
                      {%- for discount in cart.cart_level_discount_applications -%}
                        <li class="discounts__discount discounts__discount--position">
                          {%- render 'icon-discount' -%}
                          {{ discount.title }}
                          (-{{ discount.total_allocated_amount | money }})
                        </li>
                      {%- endfor -%}
                    </ul>
                  {%- endif -%}
                </div>

                <small class="tax-note caption-large rte">
                  {%- if cart.taxes_included and shop.shipping_policy.body != blank -%}
                    Tax included. <a href="{{ shop.shipping_policy.url }}">Shipping</a> calculated at checkout.
                  {%- elsif cart.taxes_included -%}
                    Tax included and shipping calculated at checkout
                  {%- elsif shop.shipping_policy.body != blank -%}
                    Taxes and <a href="{{ shop.shipping_policy.url }}">shipping</a> calculated at checkout
                  {%- else -%}
                    Taxes and shipping calculated at checkout
                  {%- endif -%}
                </small>
              </div>

            {%- else -%}
              <div class="cart__ctas" {{ block.shopify_attributes }}>
                <noscript>
                  <button type="submit" class="cart__udpate-button button button--secondary" form="cart">
                    Update
                  </button>
                </noscript>

                <button
                  type="submit"
                  id="checkout"
                  class="cart__checkout-button button"
                  name="checkout"
                  {% if cart == empty %}
                    disabled
                  {% endif %}
                  form="cart"
                >
                  Checkout
                </button>
              </div>

              {%- if additional_checkout_buttons -%}
                <div class="cart__dynamic-checkout-buttons additional-checkout-buttons">
                  {{ content_for_additional_checkout_buttons }}
                </div>
              {%- endif -%}
          {%- endcase -%}
        {% endfor %}

        <div id="cart-errors"></div>
      </div>
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Cart Footer",
    "class": "cart__footer-wrapper",
    "blocks": [
      {
        "type": "subtotal",
        "name": "Subtotal",
        "limit": 1
      },
      {
        "type": "buttons",
        "name": "Buttons",
        "limit": 1
      },
      {
        "type": "@app"
      }
    ]
  }
{% endschema %}