<section
  id="MainProduct-{{ section.id }}"
  class="page-width section-{{ section.id }}-padding"
  data-section="{{ section.id }}"
> 

  {{ 'dawn-base.css' | asset_url | stylesheet_tag }}

  {{ 'testing-product.css' | asset_url | stylesheet_tag }}
  {{ 'component-price.css' | asset_url | stylesheet_tag }}
  {{ 'testing-component-slider.css' | asset_url | stylesheet_tag }}
  {%- style -%}
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
      padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
    }

    @media screen and (min-width: 750px) {
      .section-{{ section.id }}-padding {
        padding-top: {{ section.settings.padding_top }}px;
        padding-bottom: {{ section.settings.padding_bottom }}px;
      }
    }
  {%- endstyle -%}
  
  <script src="{{  'testing-product-info.js' | asset_url }}" defer="defer"></script>
  <script src="{{  'testing-product-form.js' | asset_url }}" defer="defer"></script>


  {% assign variant_images = product.images | where: 'attached_to_variant?', true | map: 'src'  %}

  <div class="product product--{{ section.settings.media_size }} product--{{ section.settings.media_position }} product--{{ section.settings.gallery_layout }} product--mobile-{{ section.settings.mobile_thumbnails }} grid grid--1-col {% if product.media.size > 0 %}grid--2-col-tablet{% else %}product--no-media{% endif %}">
    <div class="grid__item product__media-wrapper{% if section.settings.media_position == 'right' %} medium-hide large-up-hide{% endif %}">
      {% render 'testing-product-media-gallery', variant_images: variant_images %}
    </div>
    <div class="product__info-wrapper grid__item{% if settings.page-width > 1400 and section.settings.media_size == "small"%} product__info-wrapper--extra-padding{% endif %}">
      <product-info
        id="ProductInfo-{{ section.id }}"
        data-section="{{ section.id }}"
        data-url="{{ product.url }}"
        class="product__info-container{% if section.settings.enable_sticky_info %} product__column-sticky{% endif %}"
      >
        {%- assign product_form_id = 'product-form-' | append: section.id -%}

        {%- for block in section.blocks -%}
          {%- case block.type -%}
            {%- when '@app' -%}
              {% render block %}
            {%- when 'text' -%}
              <p
                class="product__text{% if block.settings.text_style == 'uppercase' %} caption-with-letter-spacing{% elsif block.settings.text_style == 'subtitle' %} subtitle{% endif %}"
                {{ block.shopify_attributes }}
              >
                {{- block.settings.text -}}
              </p>
            {%- when 'price' -%}
              <div class="no-js-hidden" id="price-{{ section.id }}" role="status" {{ block.shopify_attributes }}>
                {%- render 'price',
                  product: product
                  use_variant: true,
                  show_badges: true,
                  price_class: 'price--large'
                -%}
                <div {{ block.shopify_attributes }}>
                  {%- assign product_form_installment_id = 'product-form-installment-' | append: section.id -%}
                  {%- form 'product', product, id: product_form_installment_id, class: 'installment caption-large' -%}
                    <input type="hidden" name="id" value="{{ product.selected_or_first_available_variant }}">
                    {{ form | payment_terms }}
                  {%- endform -%}
                </div>
              </div>
            {%- when 'variant_picker' -%}
              {% render 'testing-variant-picker', block: block, product: product %}
            {%- when 'quantity_selector' -%}
              <div
                class="product-form__input product-form__quantity"
                {{ block.shopify_attributes }}
              >
                {%- assign cart_qty = cart | item_count_for_variant: product.selected_or_first_available_variant.id -%}
                <label class="form__label" for="Quantity-{{ section.id }}">
                  Quantity
                  <span class="quantity__rules-cart{% if cart_qty == 0 %} hidden{% endif %}">
                    <span class="loading-overlay hidden">
                      <span class="loading-overlay__spinner">
                        <svg
                          aria-hidden="true"
                          focusable="false"
                          class="spinner"
                          viewBox="0 0 66 66"
                          xmlns="http://www.w3.org/2000/svg"
                        >
                          <circle class="path" fill="none" stroke-width="6" cx="33" cy="33" r="30"></circle>
                        </svg>
                      </span>
                    </span>
                    <span>
                      (
                        <span class="quantity-cart">{{ cart_qty }}</span> in cart
                      )
                    </span>
                  </span>
                </label>
                <quantity-input class="quantity">
                  <button class="quantity__button no-js-hidden" name="minus" type="button">
                    <span class="visually-hidden">
                      Decrease quantity for {{ product.title }}
                    </span>
                    {% render 'icon-minus' %}
                  </button>
                  <input
                    class="quantity__input"
                    type="number"
                    name="quantity"
                    id="Quantity-{{ section.id }}"
                    data-cart-quantity="{{ cart_qty }}"
                    data-min="{{ product.selected_or_first_available_variant.quantity_rule.min }}"
                    min="{{ product.selected_or_first_available_variant.quantity_rule.min }}"
                    {% if product.selected_or_first_available_variant.quantity_rule.max != null %}
                      data-max="{{ product.selected_or_first_available_variant.quantity_rule.max }}"
                      max="{{ product.selected_or_first_available_variant.quantity_rule.max }}"
                    {% endif %}
                    step="{{ product.selected_or_first_available_variant.quantity_rule.increment }}"
                    value="{{ product.selected_or_first_available_variant.quantity_rule.min }}"
                    form="{{ product_form_id }}"
                  >
                  <button class="quantity__button no-js-hidden" name="plus" type="button">
                    <span class="visually-hidden">
                      Increase quantity for {{ product.title }}
                    </span>
                    {% render 'icon-plus' %}
                  </button>
                </quantity-input>
              </div>
            {%- when 'buy_buttons' -%}
              {%- render 'buy-buttons', block: block, product: product, product_form_id: product_form_id, show_pickup_availability: true -%}
            {%- when 'price' -%}
          {%- endcase -%}
        {%- endfor -%}
      </product-info>
    </div>
  </div>

  {%- if product.media.size > 0 -%}
    <script src="{{ 'testing-product-modal.js' | asset_url }}" defer="defer"></script>
    <script src="{{ 'testing-media-gallery.js' | asset_url }}" defer="defer"></script>
  {%- endif -%}

</section>

{% schema %}
  {
    "name": "Main Product",
    "tag": "section",
    "class": "section",
    "blocks": [
      {
        "type": "@app"
      },
      {
        "type": "text",
        "name": "Text",
        "settings": [
          {
            "type": "text",
            "id": "text",
            "default": "Text block",
            "label": "Text"
          },
          {
            "type": "select",
            "id": "text_style",
            "options": [
              {
                "value": "body",
                "label": "Body"
              },
              {
                "value": "subtitle",
                "label": "Subtitle"
              },
              {
                "value": "uppercase",
                "label": "Uppercase"
              }
            ],
            "default": "body",
            "label": "Text style"
          }
        ]
      },
      {
        "type": "price",
        "name": "Price",
        "limit": 1
      },
      {
        "type": "variant_picker",
        "name": "Variant picker",
        "limit": 1,
        "settings": [
          {
            "type": "select",
            "id": "picker_type",
            "options": [
              {
                "value": "dropdown",
                "label": "Dropdown"
              },
              {
                "value": "button",
                "label": "Pills"
              }
            ],
            "default": "button",
            "label": "Type"
          }
        ]
      },
      {
        "type": "quantity_selector",
        "name": "Quantity selector"
      },
      {
        "type": "buy_buttons",
        "name": "Buy buttons",
        "limit": 1,
        "settings": [
          {
            "type": "checkbox",
            "id": "show_dynamic_checkout",
            "default": true,
            "label": "Show dynamic checkout buttons",
            "info": "Using the payment methods available on your store, customers see their preferred option, like PayPal or Apple Pay. [Learn more](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)"
          }
        ]
      }
    ],
    "settings": [
      {
        "type": "checkbox",
        "id": "enable_sticky_info",
        "default": true,
        "label": "Enable sticky content on desktop"
      },
      {
        "type": "select",
        "id": "media_size",
        "options": [
          {
            "value": "small",
            "label": "Small"
          },
          {
            "value": "medium",
            "label": "Medium"
          },
          {
            "value": "large",
            "label": "Large"
          }
        ],
        "default": "large",
        "label": "Desktop media width",
        "info": "Media is automatically optimized for mobile"
      },
      {
        "type": "checkbox",
        "id": "constrain_to_viewport",
        "default": false,
        "label": "Constrain media to screen height"
      },
      {
        "type": "select",
        "id": "media_fit",
        "options": [
          {
            "value": "contain",
            "label": "Original"
          },
          {
            "value": "cover",
            "label": "Fill"
          }
        ],
        "default": "contain",
        "label": "Media fit"
      },
      {
        "type": "select",
        "id": "gallery_layout",
        "options": [
          {
            "value": "stacked",
            "label": "Stacked"
          },
          {
            "value": "columns",
            "label": "2 columns"
          },
          {
            "value": "thumbnail",
            "label": "Thumbnails"
          },
          {
            "value": "thumbnail_slider",
            "label": "Thumbnail carousel"
          }
        ],
        "default": "stacked",
        "label": "Desktop layout"
      },
      {
        "type": "select",
        "id": "media_position",
        "options": [
          {
            "value": "left",
            "label": "Left"
          },
          {
            "value": "right",
            "label": "Right"
          }
        ],
        "default": "left",
        "label": "Desktop media position",
        "info": "Position is automatically optimized for mobile."
      },
      {
        "type": "select",
        "id": "image_zoom",
        "options": [
          {
            "value": "lightbox",
            "label": "Open lightbox"
          },
          {
            "value": "hover",
            "label": "Click and hover"
          },
          {
            "value": "none",
            "label": "No zoom"
          }
        ],
        "default": "lightbox",
        "label": "Image zoom",
        "info": "Click and hover defaults to open lightbox on mobile"
      },
      {
        "type": "select",
        "id": "mobile_thumbnails",
        "options": [
          {
            "value": "columns",
            "label": "2 columns"
          },
          {
            "value": "show",
            "label": "Show thumbnails"
          },
          {
            "value": "hide",
            "label": "Hide thumbnails"
          }
        ],
        "default": "hide",
        "label": "Mobile layout"
      },
      {
        "type": "checkbox",
        "id": "hide_variants",
        "default": false,
        "label": "Hide other variants media after selecting a variant"
      },
      {
        "type": "checkbox",
        "id": "enable_video_looping",
        "default": false,
        "label": "Enable video looping"
      },
      {
        "type": "header",
        "content": "Section Padding"
      },
      {
        "type": "range",
        "id": "padding_top",
        "min": 0,
        "max": 100,
        "step": 4,
        "unit": "px",
        "label": "Padding top",
        "default": 36
      },
      {
        "type": "range",
        "id": "padding_bottom",
        "min": 0,
        "max": 100,
        "step": 4,
        "unit": "px",
        "label": "Padding bottom",
        "default": 36
      }
    ]
  }
{% endschema %}